#navItems{
    background-color:rgb(53, 52, 52);
    width: 300px;
      height: 80px;
   padding-bottom: 18px;
   border-radius: 50px;
}

.navBar{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#navItems ul{

    display: flex;
    justify-content:center;
    gap:18px;
    align-content: center;
}

#navItems ul li a{
    color: rgb(220, 213, 213);
}
#navItems ul li .two{
    padding-top: 10px;
    width: 40px;
    height: 40px;
  
    border-radius: 25px;

}
#navItems ul li .two:hover{
  background-color: rgba(137, 182, 93,0.5);
}
#navItems ul li .two:active{
    background-color: rgba(137, 182, 93,0.5);   
}


